<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CareerMapper">
	<resultMap id="CareerMap" type="com.omazing.resume.dto.CareerDTO">
		<result column="name" property="name" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="position" property="position" />
		<result column="department" property="department" />
		<result column="task" property="task" />
		<result column="retirement_reason" property="retirementReason"/>
		<result column="register_no" property="registerNo" />
		<result column="member_id" property="memberID" />
	</resultMap>
  <!-- myBatis는 자료형 안에 들어가는 타입을 써줘야한다 -->
  <insert id="insertCareer" parameterType="com.omazing.resume.dto.CareerDTO">
  	insert into career_tb(register_no, name, start_date, end_date, 
  	position, department, task, retirement_reason, member_id) 
  	values
  	(career_seq.nextval, #{name}, #{startDate}, 
  	#{endDate}, #{position}, 
  	#{department}, #{task}, 
  	#{retirementReason}, #{memberID})
  </insert>
  <update id="updateCareer" parameterType="com.omazing.resume.dto.CareerDTO">
  	update career_tb set name= #{name}, 
		start_date= #{startDate}, end_date= #{endDate}, position= #{position},
		department= #{department}, task= #{task}, retirement_reason= #{retirementReason} 
		where register_no= #{registerNo} and member_id= #{memberID}
  </update>
  <delete id="deleteCareer" parameterType="Map">
  	delete career_tb where member_id= #{id} and register_no= #{registerNo}
  </delete>
  <select id="nextCareerNo" resultType="int">
	SELECT NVL(MAX(register_no)-1,0)
	FROM career_tb
</select>
  <select id="selectCareerAll" resultMap="CareerMap" parameterType="String">
     select ca.register_no, ca.name, ca.start_date,
				ca.end_date, ca.position, ca.department, ca.task,
				ca.retirement_reason, ca.member_id
				from career_tb ca
				join private_member_tb pm
				on ca.member_id = pm.member_id
				where pm.member_id = #{memberID}
  </select>
</mapper>