<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="PersonalReportMapper">
<!--    autoMapping을 설정해 준경우에는 column과 property 값이 동일할 떄 사용하면 좋다 -->

	<insert id="insertPersonalReportOnlyID" parameterType="PersonalReport">
 	 	insert into personal_report_tb
  		values(#{member_id}, null, null, null)
  	</insert>
 	<insert id="insertPersonalReport" parameterType="PersonalReport">
 	 	insert into personal_report_tb
  		values(#{member_id}, #{strength}, #{ready}, #{goal})
  	</insert>
  	
  	<update id="updateStrengthReport" parameterType="PersonalReport">
		update personal_report_tb set STRENGTH=
				#{strength} where MEMBER_ID=#{member_id}
 	</update>
 	<update id="updateReadyCondition" parameterType="PersonalReport">
 		update personal_report_tb set READY=
				#{ready} where MEMBER_ID=#{member_id}
 	</update>
 	<update id="updateGoalReport" parameterType="PersonalReport">
 		update personal_report_tb set GOAL=
				#{goal} where MEMBER_ID=#{member_id}
 	</update>
 	
 	<delete id="deletePersonalReport" parameterType="PersonalReport">
		delete from personal_report_tb where member_id=#{member_id}
 	</delete>
 	
 	<select id="selectPersonalReport" resultType="PersonalReport">
		select * from personal_report_tb where member_id=#{member_id}
 	</select>

 </mapper>