<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="SchoolTrackCategoryMapper">
  <resultMap id="schoolTrackCategory" type="SchoolTrackCategoryDTO">
	<result property="trackCode" column="track_code" />
	<result property="track" column="track" />		
</resultMap>
 
 	<select id="selectByCode" resultMap="schoolTrackCategory" parameterType="string">
 		select * from school_track_category_tb
 		where track_code = #{trackCode}
 	</select>
 	
 	<select id="selectAll" resultMap="schoolTrackCategory">
		select * from school_track_category_tb
 	</select>
 </mapper>