<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="SchoolDegreeCategoryMapper">
  	<resultMap id="schoolDegreeCategory" type="SchoolDegreeCategoryDTO">
		<result property="degreeCode" column="degree_code" ></result>
	 	<result property="degree" column="degree" ></result>
  	</resultMap>
  	
 	<select id="selectByCode" resultMap="schoolDegreeCategory" parameterType="string">
 		select * from school_degree_category_tb
 		where degree_code = #{degreeCode}
 	</select>
 	
 	<select id="selectAll" resultMap="schoolDegreeCategory">
		select * from school_degree_category_tb
 	</select>
 </mapper>