@CHARSET "UTF-8";
.timeline_school {
	height: 20px;
	width: 5%;
	position: absolute;
	background-color: rgb(80, 170, 120);
	margin-left: 10px;
	border-radius: 10px;
}

#resume_timeline .panel-body {
	height: 300px;
}

#timeline_container {
	margin-top: 150px;
	/* width: 800px; */
}

.timeline {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #425c7f;
	/* width: 5000px; */
	height: 18px;
	border-radius: 10px;
	color: #fff;
	font-size: 0;
	background-color: #425c7f;
}

.period_time {
	border-radius: 10px;
	width: 200px;
	margin-top: 0;
	box-sizing: border-box;
	display: inline-block;
	height: 18px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.period-active {
	background-color: #afb4ba;
}


